# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Imprima a frase **"Eu sou Minerador de Dados!"**

In [1]:
print ("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
1 + 1

2

In [3]:
2 - 1

1

In [4]:
2 * 2

4

In [5]:
4 / 2

2.0

3) Imprima o tipo de um determinado do valor **10**.

In [6]:
type(10)

int

4) Converta o valor passado anteriormente para o tipo **float**

In [7]:
float(10)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo **string**

In [8]:
str(10)

'10'

6) Utilizando variáveis faça:
- a) Defina uma variável com o **seu nome** e imprima o seu valor.
- b) Imprima o **tipo** dessa variável.
- c) Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, **Felipe Santana**.
- d) Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [18]:
strNome = 'Luciano'
print (strNome)

Luciano

In [19]:
type(strNome)

str

In [20]:
strNome = strNome + ' Firpo'
print (strNome)

Luciano Firpo

In [21]:
email, idade = 'lfirpo@gmail.com', 39

In [22]:
print (email, idade)

lfirpo@gmail.com 39

7) Utilizando funções de arredonamento faça:
- a) Arredonde o valor 2.898
- b) Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [23]:
round(2.898)

3

In [24]:
round(2.4545455,4)

2.4545

9) Sobre os objetos Strings, faça:
- a) Defina uma variavel com a string: "Python é uma maldição!" e imprima
- b) Imprima o primeiro caracter da variavel.
- c) Imprima os valores do primeiro caracter até o 6.
- d) Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- e) Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
    - Obs: Crie uma variável chamada "frase" com a frase acima.
- f) Substitua o primeiro caracter da frase acima para maiúsculo
- g) Quebre as palavras da frase separado por virgula, criando uma lista.

In [26]:
#9.a
strFrase = 'Python é uma maldição!'
print (strFrase)

Python é uma maldição!

In [27]:
#9.b
print (strFrase[0])

P

In [28]:
#9.c
print (strFrase[0:6])

Python

In [29]:
#9.d
len(strFrase)

22

In [30]:
#9.e
frase = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados..'
frase.count('dados')

2

In [31]:
#9.f
frase.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [32]:
#9.g
frase.split()

['dados',
 'é',
 'o',
 'novo',
 'petróleo,',
 'em',
 'Deus',
 'eu',
 'confio,',
 'para',
 'o',
 'resto',
 'me',
 'traga',
 'dados..']

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**