# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

sim

In [1]:
#exemplo
listaTeste = ['Nome', 30, 1.77, 'email@email.com']
listaTeste

['Nome', 30, 1.77, 'email@email.com']

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [2]:
#2.a
idades = [39, 32, 25, 81, 9, 67, 14]

In [3]:
#2.b
idades[1]

32

In [4]:
#2.c
len(idades)

7

In [7]:
#2.d
idades[1] = 33
idades

[39, 33, 25, 81, 9, 67, 14]

In [8]:
#2.e
idades[1:]

[33, 25, 81, 9, 67, 14]

In [9]:
#2.f
idades.remove(9)
idades

[39, 33, 25, 81, 67, 14]

In [20]:
#2.g
salarios = [900,1200,1500,800,12587,10000]

In [21]:
#2.h
10000 in salarios

True

In [22]:
#2.i
print(min(salarios))
print(max(salarios))

800
12587

In [23]:
#2.j
salarios.append(7000)

In [24]:
#2.l
salarios = salarios + [1570, 2450]
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 1570, 2450]

In [25]:
#2.m
salarios.index(800)

3

In [30]:
#2.n
salarios.sort()
print (salarios)

salarios.sort(reverse=True)
print (salarios)

[800, 900, 1200, 1500, 1570, 2450, 7000, 10000, 12587]
[12587, 10000, 7000, 2450, 1570, 1500, 1200, 900, 800]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [31]:
#3.a
pessoas = {
    'Rodrigo':30,
    'Fulana': 18,
    'Beltrano':25,
    'Ciclana':42,
    'Luciano':39
}

In [32]:
#3.b
pessoas['Fulana']

18

In [34]:
#3.c
pessoas.keys()

dict_keys(['Rodrigo', 'Fulana', 'Beltrano', 'Ciclana', 'Luciano'])

In [36]:
#3.d
pessoas.values()

dict_values([30, 18, 25, 42, 39])

In [37]:
#3.e
pessoas.setdefault('Felipe',30)

30

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [39]:
#4.a
if (5 > 1):
    print ('5 é maior que 1')

5 é maior que 1

In [40]:
#4.b
x1 = 20
y1 = 35
if (x1 > y1):
    print ('x1 é maior que y1')
else:
    print ('y1 é maior que x1')

y1 é maior que x1

In [44]:
#4.c
lista_Val = [2,3,4,5,6,7]
for i in lista_Val:
    print ('Valor: %s' %i)
    print (i * 2)

Valor: 2
4
Valor: 3
6
Valor: 4
8
Valor: 5
10
Valor: 6
12
Valor: 7
14

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**